@font-face
  font-family OpenSans
  font-weight 400
  src url(../../static/fonts/open-sans/OpenSans-Regular.ttf)

$tab-text-transform = none
$button-text-transform = none
$body-font-family = OpenSans
$line-height-root = 1
$input-top-spacing = 0

.v-btn {
  font-weight: 400;
}

@import '~vuetify/src/stylus/main'
