@font-face
  font-family BCSans
  font-weight 400
  src: url('../fonts/BCSans/BCSans-Regular.woff2') format('woff2'), /* Optimized for very modern browsers */
       url('../fonts/BCSans/BCSans-Regular.woff') format('woff'); /* Modern Browsers */

$tab-text-transform = none
$button-text-transform = none
$body-font-family = BCSans
$line-height-root = 1
$input-top-spacing = 0

.v-btn {
  font-weight: 400;
}

@import '~vuetify/src/stylus/main'

table.v-table thead tr {
    height: 40px;
    max-height: 40px;
    font-weight: 600;
}

.theme--light.v-table tbody {
   background-color: unset;
}
