[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{.babelrc,.stylelintrc,jest.config,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[*.feature]
indent_style=space
indent_size=2

[{tsconfig.app.json,tsconfig.e2e.json,tsconfig.json,tsconfig.spec.json}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

