// Import Tailwind CSS
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Add your custom SCSS code here
.divider{
    border-left: 1px solid gray;
    height: 45px; /* Adjust the height as needed */
    margin-top: 1em;
  }